.button-box-shadow {
  box-shadow: rgba(237, 238, 240, 0.27) 0px 0px 0.25em,
    rgba(251, 251, 252, 0.05) 0px 0.25em 1em;
}
.button-box-shadow2 {
  box-shadow: rgba(255, 255, 255, 0.2) 1px 0px 0px;
}

.button-box-shadow3 {
  box-shadow: rgba(255, 253, 253, 0.16) 1px 1px 1px 1px,
    rgba(255, 254, 254, 0.06) 1px 1px 1px 1px;
}

.button-box-shadow4 {
  box-shadow: rgba(3, 3, 3, 0.48) 6px 2px 8px 0px,
    rgba(107, 107, 107, 0.8) -1px -1px 4px 1px;
}
